* {
    padding: 0;
    margin: 0;
}

#box {
    width: 100%;
    margin: 20px auto 0 auto;
    overflow: hidden;
}

#cont1{
	width: 100%;
	height: 100%;
}
#cont2{
	width: 100%;
	height: 100%;
}

.unit_job{
	width: 31%;
	height:70%;
	float: left;
	margin:10px 0 0 1.5%;
}